
#fullpage{
	padding-top: 0px;
	margin: 10% 10%;
}

.banner-header {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

footer{
	position: fixed;
	width: 100%;
	bottom: 0;
}

#fullpage ul{
	list-style: none;
	list-style-image: none;
	display:inline-block;
}

#fullpage ul li{

	border: 1px solid #FAFAFA;
	background-color: #662D91;
	color: #FAFAFA;
	border-radius: 5px;
	line-height: 1.5em;
	padding: 10px;
	margin: 10px;
}

#fullpage ul li:hover{
	opacity: 0.8;
	cursor: pointer;
}

.info{
	font-family: 'Open Sans', sans-serif;
}

.info h1{
	font-weight: 700;
	color: #444;
  margin-top: 0;
  font-size: 25px;
}